{% extends 'base.html' %}
{% block title %}Мой заказ{% endblock %}
{% block content %}
  <div class="item-container" >
    {% if items %}
      {% for item in items %}
      <div class="item">
        <h1>{{ item.item.name }}</h1>
        <p>Количество: {{ item.quantity }}</p>
        <p>Цена: {{ item.total_price }} {{ item.currency }}</p>
      </div>
      {% endfor %}

      <button id="buy-button" class="button">Оплатить заказ</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script type="text/javascript">
        var stripe = Stripe("{{ public_key }}");
        var buyButton = document.getElementById("buy-button");
        buyButton.addEventListener('click', function() {
          fetch('pay_order/', {method: 'GET'})
          .then(response => response.json())
          .then(session => stripe.redirectToCheckout({ sessionId: session.session_id }))
        });
      </script>

    {% else %}
      <h1>Заказ пустой</h1>
      <p>Выберите товар и добавьте в заказ</p>
    {% endif %}
  <form action="{% url 'main_page' %}" method="get">
    <button class="button">Вернуться на главную</button>
  </form>
  </div>
{% endblock %}